<h2 class="text-center">Datos del Usuario</h2>
<form [formGroup]="form" (ngSubmit)="enviar()">
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input class="form-control" formControlName="nombre" name="nombre">
    </div>
    <div *ngIf="form.controls['nombre'].errors" class="text-danger">
        Name is required.
      </div>
    <div class="form-group">
        <label for="apellidos">Apellidos:</label>
        <input class="form-control" formControlName="apellidos" name="apellidos">
    </div>
    <div *ngIf="form.controls['apellidos'].errors" class="text-danger">
        Apellidos is required.
      </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" formControlName="email" name="email">
    </div>
    <div *ngIf="form.controls['email'].errors" class="text-danger">
        email no válido
      </div>
    <div class="form-group">
        <label for="codigoPostal">Código Postal:</label>
        <input class="form-control" formControlName="codigoPostal" name="codigoPostal">
    </div>
    <button class="btn btn-primary m-1" type="submit" [disabled]="!form.valid">Enviar</button>
</form>
